<div class="section">
	<%= link_to new_admin_branding_path do %>
		<div class="btn" style="float:right">add project</div>
	<% end %>
	<h1>Branding</h1>

	<% @brandings.each do |branding| %>
		<% branding.photos.each do |photo| %>
			<%= image_tag photo.image.url(:thumb) %>
		<% end %>
		<%= link_to "Edit", edit_admin_branding_path(branding) %>
		<%= link_to "Remove", [:admin, branding], :confirm => "Delete #{branding.title}?", :method => :delete %>
	<% end %>
</div>