<div id="header" class="small">
	<div class="container">
		<div class="padding">
			<div class="top">
				<%= link_to admin_index_path do %>
					<img src="/assets/adminlogo.png"/>
				<% end %>
				<div id="navbar">
					<div class="navbar-option">
						<%= link_to "branding", admin_brandings_path %>
					</div>
					<div class="navbar-option">
						<%= link_to "web", admin_websites_path %>
					</div>
					<div class="navbar-option">
						<%= link_to root_path do %>
							<div class="btn">visit your site</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>