<div class="section">
	<% index = 0 %>
	<% @brandings.each do |branding| %>
		<% if index % 3 == 0 %>
			<div class="row">
		<% end %>
				<div class="project" data-id="#{branding.id}">
					<%= image_tag branding.photos.first.image.url(:small) %>
				</div>
		<% if index % 3 == 2 %>
			</div>
		<% end %>
		<% index += 1 %>
	<% end %>
</div>