<div id="footer">
	<div class="container">
		<div class="padding">
			<table>
				<tr>
					<td class="one-fourth">
						<img src="/assets/logosmall.png"/>
						<p class="ptm" style="margin-bottom: 0">
							© Cup of Hunks, LLC 2013<br/>
							All rights reserved.
						</p>
					</td>
					<td class="one-fourth">
						<ul>
							<li>
								<a href="#">web</a>
							</li>
							<li>
								<a href="#">branding</a>
							</li>
							<li>
								<a href="#">about</a>
							</li>
							<li>
								<a href="#">clients</a>
							</li>
							<li>
								<a href="#">terms + policies</a>
							</li>
							<li>
								<a href="#">sitemap</a>
							</li>
						</ul>
					</td>
					<td class="one-fourth">
						<h1>847.651.8258</h1>
						<h2 class="pbl">info@cupofhunks.com</h2>
						<img class="mrs" src="/assets/fb.png"/>
						<img class="mrs" src="/assets/twit.png"/>
						<img src="/assets/linkedin.png"/>
					</td>
					<td class="one-fourth">
						<div style="width:117px;margin:auto">
							<img src="/assets/bowtie.png"/>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>