<div id="header" class="small">
	<div class="container">
		<div class="padding">
			<div class="top">
				<%= link_to root_path do %>
					<img src="/assets/logonavsmall.png"/>
				<% end %>
				<div id="navbar">
					<div class="navbar-option">
						<%= link_to "about", "#" %>
					</div>
					<div class="navbar-option">
						<%= link_to "branding", brandings_path %>
					</div>
					<div class="navbar-option">
						<%= link_to "web", websites_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>