<div id="header">
	<div class="container">
		<div class="padding">
			<div id="arm">
				<img style="margin-left:142px; margin-top:65.1px" src="/assets/steam.gif"/>
			</div>
			<div class="top">
				<img src="/assets/logo.png"/>
				<div id="navbar">
					<div class="navbar-option">
						<%= link_to "about", "#" %>
					</div>
					<div class="navbar-option">
						<%= link_to "branding", brandings_path %>
					</div>
					<div class="navbar-option">
						<%= link_to "web", websites_path %>
					</div>
				</div>
			</div>
			<h1>
				Virtual &#60;body&#62; builders
			</h1>
			<p>
				Summer is here - give your business the look that will turn heads. One of a kind web and branding services by a couple of hunky dudes.
			</p>
		</div>
	</div>
</div>
<div id="whitespace"></div>
<div id="content">
	<div class="container">
		<div class="padding">
			<div class="section">
				<div class="two-thirds">
					<h1 style="margin-top:20px">
						Your company is a work of art
					</h1>
					<div id="get-started">
						Get Started
					</div>
					<p>
						We approach every project as artists to express your identity as a masterpiece. Our recipe for customization starts from scratch and blends your values with progressive design. Let us create your website and brandmark as a portrait of your business.
					</p>
				</div>
			</div>
			<div class="section">
				<div class="one-third">
					<div class="prl">
						<img src="/assets/napkin.png"/>
					</div>
				</div>
				<div class="two-thirds">
					<table class="push-top">
						<tr>
							<td class="prl">
								<h2>Web</h2>
							</td>
							<td class="pll">
								<h2>Branding</h2>
							</td>
						</tr>
						<tr>
							<td class="prl">
								<p>
									Our web design capabilties are endless. Websites are created using the open source framework Ruby on Rails and we even offer database storage. Templates are not used and we assure a one of a kind website for every client.
								</p>
							</td>
							<td class="pll">
								<p>
									Whether you need just a logo or the whole package designed for your business we can provide you with the best look. Premium vector strategies and color palettes ensure scalability and usability. When it comes to design we hunks are strong believers that less is more.
								</p>
							</td>
						</tr>
						<tr>
							<td class="prl ptl" style="text-align:center;">
								<a class="btn" style="margin:auto">Learn More</a>
							</td>
							<td class="pll ptl" style="text-align:center;">
								<a class="btn" style="margin:auto">Learn More</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>